# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Forensic Output Directories & Reports
Forensic_Capture_*/
*.pcap
*.dd
*.E01

# Ignore Temp SQLite Databases
temp_Chrome_history
temp_Edge_history